namespaceNavigation: true

projectResource:
  apiGroup: in-cloud.io
  apiVersion: v1alpha1
  resourceName: projects

instanceResource:
  apiGroup: in-cloud.io
  apiVersion: v1alpha1
  resourceName: instances

frontendResource:
  baseApiGroup: front.in-cloud.io
  baseApiVersion: v1alpha1
  marketplaceResource:
    name: marketplacepanels
    kind: MarketplacePanel

basePrefix: openapi-ui

navigation:
  instanceNamespacePattern: "{reqsJsonPath[0]['.metadata.namespace']}-{reqsJsonPath[0]['.metadata.name']}"

projectFactory:
  accessGroups:
    - group-1
    - group-2
    - group-3
  devTools:
    - name: ArgoCD
      link: "/argocd"
    - name: Nexus
      link: "/nexus"
    - name: Monitoring
      link: "/grafana"
    - name: Gitlab
      link: "/gitlab"
    - name: Harbor
      link: "/harbor"
    - name: OpenSearch
      link: "/opensearch"
    - name: Vault
      link: "/vault"

addons:
  argocd:
    enabled: false
  hbf:
    enabled: false
    apiVersion: v1beta1
  trivy:
    enabled: false
  grafana:
    enabled: false

sidebars:
  cluster:
    customItems: []
    # The `customItems` block is used to specify the required custom sections for the sidebar.
    # The label field supports templating from the URL address using the pattern {n}, 
    # where n is the path segment index (e.g., {2} would insert the cluster name).
    # example:
    # if namespaceNavigation is true:
    # - children:
    #     - key: namespaces
    #       label: Namespaces
    #       link: /openapi-ui/{clusterName}/builtin-table/namespaces
    #   key: cluster
    #   label: "Cluster: {2}"
    # if namespaceNavigation is false:
    # - children:
    #     - key: projects
    #       label: Projects
    #       link: /openapi-ui/{clusterName}/api-table/{{ projectAPIGroup }}/{{ projectAPIVersion }}/{{ projectResourceName }}
    #   key: cluster
    #   label: "Cluster: {2}"

    clusters:
      enabled: false

    projects:
      enabled: false

    instances:
      enabled: false

    argocd:
      enabled: false
      items:
        argocdlink: false
        applications: true
        applicationset: true
        appprojects: true
      extraItems: []

    monitoring:
      enabled: false
      items:
        grafana: true
      extraItems: []
    
    hbf:
      enabled: false
      items:
        hosts: true
        hostbindings: true
        networks: true
        addressgroups: true
        networkbindings: true
        ieagagrules: true
        services: true
        servicealiases: true
        addressgroupbindings: true
        rules2ses: true
        addressgroupportmappings: true
      extraItems: []
    
    workloads:
      enabled: false
      items:
        pods: true
        deployments: true
        statefulsets: true
        secrets: true
        configmaps: true
        cronjobs: true
        jobs: true
        daemonsets: true
        replicasets: true
        replicationcontrollers: true
        horizontalpodautoscalers: true
        poddisruptionbudgets: true
      extraItems: []
    
    networking:
      enabled: false
      items:
        services: true
        networkpolicies: true
        ingresses: true
      extraItems: []
    
    storage:
      enabled: true
      items:
        persistentvolumes: true
        persistentvolumeclaims: false
        storageclasses: true
      extraItems: []
    
    compute:
      enabled: true
      items:
        nodes: true
      extraItems: []
    
    usermanagement:
      enabled: true
      items:
        serviceaccounts: false
        roles: false
        rolebindings: false
        clusterroles: true
        clusterrolebindings: true
      extraItems: []
    
    administration:
      enabled: true
      items:
        namespaces: false
        limitranges: false
        resourcequotas: false
        customresourcedefinitions: true
      extraItems: []

  namespaced:
    customItems: []
    # The `customItems` block is used to specify the required custom sections for the sidebar.
    # The label field supports templating from the URL address using the pattern {n}, 
    # where n is the path segment index (e.g., {3} would insert the namespace).
    # example:
    # if namespaceNavigation is true:
    # - children: []
    #   key: namespace
    #   label: "Namespace: {3}"
    # if namespaceNavigation is false:
    # - children:
    #     - key: instances
    #       label: Instances
    #       link: /openapi-ui/{clusterName}/{namespace}/api-table/{{ instanceAPIGroup }}/{{ instanceAPIVersion }}/{{ instanceResourceName }}
    #   key: project
    #   label: "Project: {3}"

    projects:
      enabled: false

    instances:
      enabled: false

    argocd:
      enabled: false
      items:
        applications: true
        applicationset: true
        appprojects: true
      extraItems: []

    hbf:
      enabled: false
      items:
        hosts: true
        hostbindings: true
        networks: true
        addressgroups: true
        networkbindings: true
        ieagagrules: true
        services: true
        servicealiases: true
        addressgroupbindings: true
        rules2ses: true
        addressgroupportmappings: true
      extraItems: []
    
    workloads:
      enabled: false
      items:
        pods: true
        deployments: true
        statefulsets: true
        secrets: true
        configmaps: true
        cronjobs: true
        jobs: true
        daemonsets: true
        replicasets: true
        replicationcontrollers: true
        horizontalpodautoscalers: true
        poddisruptionbudgets: true
      extraItems: []
    
    networking:
      enabled: false
      items:
        services: true
        networkpolicies: true
        ingresses: true
      extraItems: []
    
    storage:
      enabled: false
      items:
        persistentvolumes: true
        persistentvolumeclaims: true
        storageclasses: true
      extraItems: []
    
    compute:
      enabled: false
      items:
        nodes: true
      extraItems: []
    
    usermanagement:
      enabled: false
      items:
        serviceaccounts: true
        roles: true
        rolebindings: true
        clusterroles: true
        clusterrolebindings: true
      extraItems: []
    
    administration:
      enabled: false
      items:
        namespaces: true
        limitranges: true
        resourcequotas: true
        customresourcedefinitions: true
      extraItems: []

  instance:
    customItems: []
    # The `customItems` block is used to specify the required custom sections for the sidebar.
    # The label field supports templating from the URL address using the pattern {n}, 
    # where n is the path segment index (e.g., {3} would insert the instance name).
    # example:
    # if namespaceNavigation is false:
    # - children: []
    #   key: instances
    #   label: "Instance: {3}"

    projects:
      enabled: false

    instances:
      enabled: false

    argocd:
      enabled: true
      items:
        applications: true
        applicationset: true
        appprojects: true
      extraItems: []

    hbf:
      enabled: true
      items:
        hosts: true
        hostbindings: true
        networks: true
        addressgroups: true
        networkbindings: true
        ieagagrules: true
        services: true
        servicealiases: true
        addressgroupbindings: true
        rules2ses: true
        addressgroupportmappings: true
      extraItems: []
    
    workloads:
      enabled: true
      items:
        pods: true
        deployments: true
        statefulsets: true
        secrets: true
        configmaps: true
        cronjobs: true
        jobs: true
        daemonsets: true
        replicasets: true
        replicationcontrollers: true
        horizontalpodautoscalers: true
        poddisruptionbudgets: true
      extraItems: []
    
    networking:
      enabled: true
      items:
        services: true
        networkpolicies: true
        ingresses: true
      extraItems: []
    
    storage:
      enabled: true
      items:
        persistentvolumes: false
        persistentvolumeclaims: true
        storageclasses: false
      extraItems: []
    
    compute:
      enabled: false
      items:
        nodes: true
      extraItems: []
    
    usermanagement:
      enabled: true
      items:
        serviceaccounts: true
        roles: true
        rolebindings: true
        clusterroles: false
        clusterrolebindings: false
      extraItems: []
    
    administration:
      enabled: true
      items:
        namespaces: false
        limitranges: true
        resourcequotas: true
        customresourcedefinitions: false
      extraItems: []
