namespaceNavigation: true

projectResource:
  apiGroup: in-cloud.io
  apiVersion: v1alpha1
  resourceName: projects

instanceResource:
  apiGroup: in-cloud.io
  apiVersion: v1alpha1
  resourceName: instances

addons:
  argocd:
    enabled: false
  hbf:
    enabled: false
    apiVersion: v1beta1
  trivy:
    enabled: false
  grafana:
    enabled: false
